<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
            margin:0;
            padding:0;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Drawing program!</title>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <canvas width="600px" height="600px"></canvas>
</body>
</html>